/* default callout */
.theme-dark .callout[data-callout="callout-default"] {
    --callout-color: 61, 23, 199;
    --callout-icon: gamepad-directional;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 1);
}

.theme-dark .callout[data-callout="callout-default"] .callout-title,
.theme-dark .callout[data-callout="callout-default"] .callout-title-inner,
.theme-dark .callout[data-callout="callout-default"] .callout-icon,
.theme-dark .callout[data-callout="callout-default"] .callout-fold {
  color: #ffffff;
}

.theme-light .callout[data-callout="callout-default"] {
    --callout-color: 61, 23, 199;
    --callout-icon: gamepad-directional;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(0, 0, 0);
}

.theme-light .callout[data-callout="callout-default"] .callout-title,
.theme-light .callout[data-callout="callout-default"] .callout-title-inner,
.theme-light .callout[data-callout="callout-default"] .callout-icon,
.theme-light .callout[data-callout="callout-default"] .callout-fold {
  color: #000000;
}

/* purple callout */
.callout[data-callout="callout-purple"] {
    --callout-color: 61, 23, 199;
    --callout-icon: gamepad-directional;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(61, 23, 199, 1);
}

.callout[data-callout="callout-purple"] .callout-title,
.callout[data-callout="callout-purple"] .callout-title-inner,
.callout[data-callout="callout-purple"] .callout-icon,
.callout[data-callout="callout-purple"] .callout-fold {
  color: #3d17c7;
}

/* blue callout */
.callout[data-callout="callout-blue"] {
    --callout-color: 61, 23, 199;
    --callout-icon: gamepad-directional;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(51, 153, 153, 1);
}

.callout[data-callout="callout-blue"] .callout-title,
.callout[data-callout="callout-blue"] .callout-title-inner,
.callout[data-callout="callout-blue"] .callout-icon,
.callout[data-callout="callout-blue"] .callout-fold {
  color: #339999;
}

/* red callout */
.callout[data-callout="callout-red"] {
    --callout-color: 61, 23, 199;
    --callout-icon: gamepad-directional;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(128, 0, 0, 1);
}

.callout[data-callout="callout-red"] .callout-title,
.callout[data-callout="callout-red"] .callout-title-inner,
.callout[data-callout="callout-red"] .callout-icon,
.callout[data-callout="callout-red"] .callout-fold {
  color: #800000;
}

/* gold callout */
.callout[data-callout="callout-gold"] {
    --callout-color: 61, 23, 199;
    --callout-icon: gamepad-directional;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(220, 173, 118, 1);
}

.callout[data-callout="callout-gold"] .callout-title,
.callout[data-callout="callout-gold"] .callout-title-inner,
.callout[data-callout="callout-gold"] .callout-icon,
.callout[data-callout="callout-gold"] .callout-fold {
  color: #dcad76;
}